# inputs and outputs
input/*csv
input/*geojson
input/*RData
input/*/
output/*csv

# Archived directories
archive/
input/archive/
output/archive/

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

